<!-- <ng-container *ngIf="loading else loadingTemplate"> -->
<div class="login-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
    <input type="email" formControlName="email" placeholder="Email" class="login-input" />

    <input type="password" formControlName="password" placeholder="Password" class="login-input" />

    <button type="submit" [disabled]="loading" class="login-button">
      Login
    </button>
  </form>

  <button (click)="loginWithGoogle()" [disabled]="loading" class="google-login-button">
    Login with Google
  </button>

  <div *ngIf="error" class="login-error">{{ error }}</div>
</div>
<!-- </ng-container> -->

<ng-template #loadingTemplate>
  <div class="loading-indicator">
    Loading...
  </div>
</ng-template>
